html{
scroll-behavior: smooth
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  border: 2px solid #000000;
}

#CybotCookiebotDialog { 
  /*font-family:  Brush Script MT!important;*/ 
  /*font-size: 200px!important;*/
}

#CookiebotWidget {
/*font-family:  Brush Script MT!important;*/
}

@media only screen and (max-width: 1000px) {
#CookiebotWidget {

/*font-family:  Brush Script MT!important;*/
}
}